.menu-bg
  background: #000
  display none
  opacity: 0
  width: 100vw
  height: 100vh
  position: fixed
  z-index: 100
  .menu-container
    position: fixed
    padding 0 250px
    border-left 1px solid $mainColor1
    border-right 1px solid $mainColor1
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ul
      list-style-type none
      margin-bottom 0
      li
        text-align right
        padding 5px
        a
          font-family $fontTitle
          text-transform uppercase
          font-size 30px
          border-bottom none

nav
  display flex
  align-items baseline
  position fixed
  right 2em
  top 1.5em
  z-index 10000
  a, a:link, a:visited, a:active
    font-family FontAwesome
    font-style normal
    border-bottom none
    font-size 2em
    opacity: 0.5
    transition: opacity 0.3s ease
    &:before
      content "\f0c9"
    &.menu-active
      &:before
        content "\f00d"
  a:hover
    opacity 1
  .ais-InstantSearch
    margin-right 2rem
  .right-panel
    #hits
      background-color white
      width auto
      margin-top 10px
      overflow-y scroll
      .ais-Hits
        .ais-Hits-list
          border-top 1px solid #666
          word-break break-all
        .ais-Hits-item
          border-bottom 1px solid #666
          padding 5px
          a, p
            color white
            font-family "Orbitron", sans-serif
            font-size 1rem
            &:before
              content ''
          em
            font-weight normal
            font-style normal
            border-bottom 3px yellow solid
            margin 0 5px
          p.ais-Hits-item-content
            margin-left 1em
      .ais-Hits.ais-Hits--empty p
        color white
        font-family "Orbitron", sans-serif
        font-size 1rem