<header>
    <div class="logo">
        <a href="<%- config.root %>"><img src="/img/icon.png" alt="サイトアイコン" width=100 height=100></a>
        <% if(headerTitle) { %>
            <h1 id="main-title" class="title"><%- headerTitle %></h1>
        <% } %>
    </div>
</header>