<!--Menu Links and Overlay-->
<div class="menu-bg">
    <div class="menu-container">
        <ul>
            <% for (var i in theme.menu) { %>
            <li class="menu-item">
                <a href="<%- url_for(theme.menu[i]) %>">
                    <%= i %>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<!--Hamburger Icon-->
<nav>
  <div class="ais-InstantSearch">  
    <div class="right-panel">
      <div id="searchbox"></div>
      <div id="hits" class="bg-gradient"></div>
      <div id="pagination"></div>
    </div>
  </div>
  <a href="#menu"></a>
</nav>